html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    
}
*{
    box-sizing: border-box;
}

p {
    margin-right: 2em;
    font-weight: bold;
    font-size: 0.9em;
    font-weight: 500;
}

button {
    background-color: white;
    border-radius: 30px;
    padding: 10px 20px;
    border: 2px solid black;
    font-size: 0.8em;
    font-weight: bold;
    transition: all .2s ease;
}

button:hover {
    background-color: black;
    color: white;
}

.button-purple {
    color: #6b53f0;
    border: 2px solid #6b53f0;    
}

.button-purple:hover {
    background-color: #6b53f0;
    color: white;
}

div#navbar-left img {
    width: 142px;
}

@media (width >= 2500px) {
    html {
        font-size: 28px;
    }
}

@media (width >= 3500px) {
    html {
        font-size: 32px;
    }
}
